<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div class="mx-auto w-25">
        <span style="visibility: hidden">....</span>
        <h2 class="text-center font-weight-bold text-black">Edit Profile</h2>
        <hr class="hr-2 bg-dark">
        <form class="form" th:action="@{/api/user/profile/edit}" th:method="post">
            <div id="edit-user-profile"></div>
            <div class="form-group">
                <label for="oldPassword" class="mb-1">Old Password <span>*</span></label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password..."
                       name="oldPassword"
                       required>
            </div>
            <div class="form-group">
                <label for="newPassword" class="mb-1">New Password <span>*</span></label>
                <input type="password" class="form-control" id="newPassword" placeholder="New Password..."
                       name="newPassword"
                       pattern="^[A-Za-z0-9-_.$#]{8,}$"
                       minlength="8"
                       title="Password may contain letters, digits, special symbols('-', '_', '.', '$', '#', '@'). Password must be at least 8 characters long."
                       required>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword" class="mb-1">Confirm New Password <span>*</span></label>
                <input type="password" class="form-control" id="confirmNewPassword"
                       placeholder="Confirm New Password..."
                       name="confirmNewPassword"
                       pattern="^[A-Za-z0-9-_.$#]{8,}$"
                       minlength="8"
                       title="Password may contain letters, digits, special symbols('-', '_', '.', '$', '#', '@'). Password must be at least 8 characters long."
                       required>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn warning btn-danger low-button font-weight-bold text-white">Edit
                </button>
            </div>
        </form>
        <span style="visibility: hidden">....</span>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
<script th:src="@{/js/base/jquery.min.js}"></script>
<script th:src="@{/js/base/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/edit-profile.js}"></script>
</html>