<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div class="mx-auto w-25">
        <span style="visibility: hidden">....</span>
        <h2 class="text-center font-weight-bold text-black">My Profile</h2>
        <hr class="hr-2 bg-dark">
        <span style="visibility: hidden">....</span>
        <div class="text-left">
            <h4 th:utext="'Username: ' + ${model.username}"></h4>
        </div>
        <div class="text-left">
            <h4 th:utext="'Email: ' + ${model.email}"></h4>
        </div>
        <span style="visibility: hidden">....</span>
        <div class="button-holder d-flex justify-content-center">
            <th:block>
                <a th:href="@{/user/profile/edit}"
                   class="btn warning btn-warning low-button font-weight-bold text-white">Edit Profile</a>
            </th:block>
        </div>
    </div>
    <span style="visibility: hidden">....</span>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>

</html>