<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div class="mx-auto w-25" id="user-profile">
        <span style="visibility: hidden">....</span>
        <h2 class="text-center font-weight-bold text-black">My Profile</h2>
        <hr class="hr-2 bg-dark">
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
<script th:src="@{/js/base/jquery.min.js}"></script>
<script th:src="@{/js/base/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/user-profile.js}"></script>
</html>