<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>
<link rel="stylesheet" href="/css/loader.css">

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div class="w-75 mx-auto">
        <h1 class="text-center">Welcome to BioProducts Shop</h1>
        <hr class="hr-2 bg-dark"/>
        <h3>We offer natural fruits and vegetables.</h3>
        <h3>If you want to look all or buy a product then you have to <a href="/login">Login</a>/<a href="/register">Register</a>
        </h3>
        <hr class="hr-2 bg-dark"/>
        <div id="index-promoted-products"></div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/loader}"/>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/urls.js}"></script>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
<script type="text/javascript" th:src="@{/js/promoted-products.js}"></script>
</html>