<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div>
        <span style="visibility: hidden">....</span>
        <div class="row">
            <div class="col col-md-4 text-right pr-5">
                <img th:src="${product.imgUrl}" width="300">
            </div>
            <div class="col col-md-6 text-left pl-5">
                <ul>
                    <li>
                        <h1 th:utext="${product.name}"></h1>
                    </li>
                    <li>
                        <h5 th:utext="'Made: ' + ${product.made}"></h5>
                    </li>
                    <li>
                        <span style="visibility: hidden">....</span>
                    </li>
                    <li class="text-left">
                        <h6 th:utext="${product.description}"></h6>
                    </li>
                    <li>
                        <span style="visibility: hidden">....</span>
                    </li>
                    <li class="text-left" th:if="${product.promotionalPrice} == null">
                        <h5 th:utext="'Price: ' + ${product.price} + ' $'"></h5>
                    </li>
                    <li class="text-left" th:unless="${product.promotionalPrice} == null">
                        <h6 class="mb-md-2 discount-price" th:utext="'Old Price: ' + ${product.price} + ' $'">
                            ${product.priceNow}</h6>
                    </li>
                    <li class="text-left" th:unless="${product.promotionalPrice} == null">
                        <h5 class="mb-md-2" th:utext="'Price: ' + ${product.promotionalPrice} + ' $'"></h5>
                    </li>
                    <li>
                        <form class="mx-auto" th:action="@{/order/add-to-cart/{id}(id=${productId})}" method="post">
                            <div class="col col-md-5 h5 p-0">
                                <label for="quantity">Quantity: </label>
                                <input type="number" size="3px" id="quantity" name="quantity" placeholder="0" min="1"
                                       required>
                            </div>
                            <span style="visibility: hidden">....</span>
                            <button class="btn warning btn-warning low-button font-weight-bold text-white mt-2 ml-2"
                                    type="submit">Add to Cart
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span style="visibility: hidden">....</span>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>

</html>