<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <h1 class="text-center">Edit product</h1>
    <hr class="hr-3"/>
    <div id ="edit-product" th:label="${productId}"></div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
<script th:src="@{/js/base/jquery.min.js}"></script>
<script th:src="@{/js/base/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/product/edit-product.js}"></script>
</html>