<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>
<link rel="stylesheet" href="/css/loader.css">

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <div>
        <span style="visibility: hidden">....</span>
        <h2 class="text-center bold font-weight-bold text-dark">Table with all promotions:</h2>
        <hr class="hr-2 bg-dark">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-1 text-center">Image</th>
                <th class="col-md-2 text-center">Name</th>
                <th class="col-md-1 text-center">Made</th>
                <th class="col-md-1 text-center">Regular Price</th>
                <th class="col-md-1 text-center">Discount</th>
                <th class="col-md-2 text-center">From Date</th>
                <th class="col-md-2 text-center">To Date</th>
                <th class="col-md-1 text-center">Promotional Price</th>
            </tr>
            </thead>
            <tbody id="promotion-table"></tbody>
        </table>
        <hr class="hr-2 bg-dark">
        <span style="visibility: hidden">....</span>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/loader}"/>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
<script type="text/javascript" th:src="@{/js/promotion-table.js}"></script>
</html>